<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html'; charset='UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Maths Dept Library, <%= @user.name %></h1>
    <p>
      Your staff_id is: <%= @user.staff_id %>.<br>
    </p>
    <p>
      You signup declined by the librarian. If it's a mistake, please signup again.
    </p>
    <p>Thanks for your interest and have a great day!</p>
  </body>
</html>